openapi: 3.0.3
info:
  title: API Reference
  version: '1.0'
externalDocs:
  description: Find out more about the Catenda API
  url: 'https://apidocs.dev.catenda.net/catenda-api'
servers:
  - url: 'https://api.catenda.com/v2'
tags:
  - name: Authentication
  - name: Collection
  - name: Custom Field
  - name: IFC
  - name: Label
  - name: Label Group
  - name: Library
  - name: Member
  - name: Model
  - name: Model Revision
  - name: Project
  - name: Organization
  - name: SCIM
  - name: Team
  - name: Topic Board
  - name: User
  - name: Viewer
  - name: Webhook
security:
  - OAuth: []
paths:
  /oauth2/token:
    post:
      tags:
        - Authentication
      summary: Create token
      operationId: getToken
      description: Create an OAuth access token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
              properties:
                client_id:
                  type: string
                  description: Client id when performing client credentials flow
                  example: 6eRUYFr3UTFevHr
                client_secret:
                  type: string
                  description: Client secret when performing client credentials flow
                code:
                  type: string
                  description: Authorization code when performing authorization code flow
                  example: dlZE0KFxhM
                code_verifier:
                  type: string
                  description: 'Client generated cryptographically random string using the characters A-Z, a-z, 0-9, and the punctuation characters -._~, between 43 and 128 characters long. Used when performing PKCE authorization code flow.'
                  example: fRhtRGw_56Jukt_-YNF3KyYsBrgW5JKtRiN7w7YGFgJ
                grant_type:
                  type: string
                  description: 'The grant type of the desired authentication flow. Valid values are authorization_code, refresh_token and client_credentials'
                  example: authorization_code
                redirect_uri:
                  type: string
                  description: The registered redirect URL of the application when performing authorization code flow
                  example: https//www.example.com/login
                refresh_token:
                  type: string
                  description: The refresh token when performing refresh token flow
                  example: ozJ7c4OtELJNrWp4KMC4uE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    access_token:
                      type: string
                      description: The access token to authorize Catenda APIs
                      example: 4Zie1q4iz98hYitnObJHgV
                    expires_in:
                      type: string
                      description: Lifetime in seconds of the access token
                      example: 3599
                    refresh_token:
                      type: string
                      description: 'The refresh token, used to obtain new access tokens'
                      example: ozJ7c4OtELJNrWp4KMC4uE
                    token_type:
                      type: string
                      description: 'The token type, valid values are **bearer**'
                      example: bearer
  '/projects/{project-id}/libraries/collections':
    get:
      tags:
        - Collection
      summary: List collections
      operationId: getCollections
      description: List all document library item collections.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-page'
        - $ref: '#/components/parameters/library-page-size'
        - $ref: '#/components/parameters/library-item-created-at-from'
        - $ref: '#/components/parameters/library-item-created-at-to'
        - $ref: '#/components/parameters/collection-created-by'
        - $ref: '#/components/parameters/collection-fields'
        - $ref: '#/components/parameters/collection-files'
        - $ref: '#/components/parameters/collection-finalized'
        - $ref: '#/components/parameters/collection-follow-latest-revision'
        - $ref: '#/components/parameters/collection-followers'
        - $ref: '#/components/parameters/collection-library-items'
        - $ref: '#/components/parameters/collection-search'
        - $ref: '#/components/parameters/collection-shared-by'
        - $ref: '#/components/parameters/collection-visibility'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/collection'
    post:
      tags:
        - Collection
      summary: Create collection
      operationId: createCollection
      description: |
        Add a new document library item collection.
      parameters:
        - $ref: '#/components/parameters/project-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: The name of the library item collection.
                  example: Collection 1
                description:
                  type: string
                  description: The description of the library item collection.
                  example: Collection description
                items:
                  type: array
                  description: List of items to add to the colleciton.
                  items:
                    type: object
                    required:
                      - libraryId
                      - libraryItemId
                      - fileId
                    properties:
                      libraryId:
                        type: string
                        description: The library id of the library item.
                        example: ead9b194e6024e6b92cae1d791797b68
                      libraryItemId:
                        type: string
                        description: The id of the library item.
                        example: 5badf33213ae420ebf81e727d5281850
                      fileId:
                        type: string
                        description: 'The id of the library item revision, defaults to the latest document revision id.'
                        example: 5dc75452-29a4-4c4a-8415-991b92a92001
                followLatestRevision:
                  type: boolean
                  description: Set whether the collection uses the latest revision of all items or the revision when added to the collection.
                  example: true
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collection'
  '/projects/{project-id}/libraries/collections/{collection-id}':
    get:
      tags:
        - Collection
      summary: Get collections
      operationId: getCollection
      description: Get a single document library item collection.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/collection-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collection'
    patch:
      tags:
        - Collection
      summary: Update collection
      operationId: updateCollection
      description: Update a document library item collection.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/collection-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the library item collection.
                  example: Collection 1
                description:
                  type: string
                  description: The description of the library item collection.
                  example: Collection description
                finalized:
                  type: boolean
                  description: Whether the collection is finalized and no longer editable.
                  example: false
                visibility:
                  type: string
                  description: Determines whether the collection is shared at the project level. Valid values are **private** and **project-members**.
                  example: private
                followLatestRevision:
                  type: boolean
                  description: Set whether the collection uses the latest revision of all items or the revision when added to the collection.
                  example: true
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collection'
  '/projects/{project-id}/libraries/collections/{collection-id}/items':
    get:
      tags:
        - Collection
      summary: List collection items
      operationId: getCollectionItems
      description: List all document library item collection items.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/collection-id'
        - $ref: '#/components/parameters/collection-fields'
        - $ref: '#/components/parameters/collection-include'
        - $ref: '#/components/parameters/collection-library-item-include'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/collection-item'
    post:
      tags:
        - Collection
      summary: Add collection items
      operationId: createCollectionItems
      description: Add items to a document library item collection.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/collection-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - libraryId
                      - libraryItemId
                      - fileId
                    properties:
                      libraryId:
                        type: string
                        description: The library id of the library item.
                        example: ead9b194e6024e6b92cae1d791797b68
                      libraryItemId:
                        type: string
                        description: Id of the library item.
                        example: 5badf33213ae420ebf81e727d5281850
                      fileId:
                        type: string
                        description: Id of the library item revision.
                        example: 5dc75452-29a4-4c4a-8415-991b92a92001
                options:
                  type: object
                  properties:
                    duplicateItemOption:
                      type: string
                      description: Determines the behaviour when attempting to add a library item with the same library item id as a library item already in the collection. In this case the request will fail by default. There are 3 options you can choose from to deal with this situation. **overwrite-different-version** will override the existing library items with the new ones. **skip-duplicate-with-different-version** will ignore provided library items that are already in the collection. **skip-duplicate-with-same-version** will fail the request if any library item is already in the collection with a different revision.
                      example: overwrite-different-version
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/collection-item'
    delete:
      tags:
        - Collection
      summary: Remove collection item
      operationId: deleteCollectionItem
      description: Remove a document library item collection item from the collection.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/collection-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  description: List of library items ids of the items to remove from the collection.
                  items:
                    type: string
                    description: Id of the document library item
                    example: f9f534a6d26441gc85ffc686bacbc9e3
      responses:
        '204':
          $ref: '#/components/responses/204'
  '/projects/{project-id}/libraries/collections/{collection-id}/followers':
    get:
      tags:
        - Collection
      summary: List collection followers
      operationId: getCollectionFollowers
      description: List all the followers of a document library item collection.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/collection-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/user'
    post:
      tags:
        - Collection
      summary: Add collection follower
      operationId: createCollectionFollower
      description: |
        Add a new follower to a document library item collection.

        Private collections can only have collection owner as a follower. If the collection is shared at the project level users can add themselves as a follower. Collection owners and administrators can add any user as a follower.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/collection-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  description: Id of the user to follow the collection.
                  example: 524809076a694255b989d236517a55da
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
  '/projects/{project-id}/libraries/collections/{collection-id}/followers/batch':
    patch:
      tags:
        - Collection
      summary: Update collection followers
      operationId: updateCollectionFollowers
      description: |
        Update multiple followers on a document library item collection.

        This resource is only available to project administrators and collection owners.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/collection-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                followersToAdd:
                  type: array
                  description: List of user ids of users to add as followers of the document library item collection.
                  items:
                    type: string
                    example: 524809076a694255b989d236517a55da
                followersToRemove:
                  type: array
                  description: List of user ids of users to remove as followers of the document library item collection.
                  items:
                    type: string
                    example: 524809076a694255b989d236517a55da
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/user'
  '/projects/{project-id}/libraries/collections/{collection-id}/followers/{user-id}':
    delete:
      tags:
        - Collection
      summary: Remove collection follower
      operationId: deleteCollectionFollower
      description: |
        Remove a follower from a document library item collection.

        If the collection is private only the collection owner can remove themselves as a follower. If the collection is shared at the project level users can remove themselves as a follower. Collection owners and administrators can remove any user as a follower.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/collection-id'
        - $ref: '#/components/parameters/user-id'
      responses:
        '204':
          $ref: '#/components/responses/204'
  '/projects/{project-id}/custom-fields':
    get:
      tags:
        - Custom Field
      summary: List custom fields
      operationId: getCustomFields
      description: List all the custom fields.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - name: archived
          in: query
          description: 'Filter by archived status. Valid values are **all**, **archived**, **not-archived**. Default value is **all**.'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/custom-field'
    post:
      tags:
        - Custom Field
      summary: Create custom field
      operationId: createCustomField
      description: Add a new custom field.
      parameters:
        - $ref: '#/components/parameters/project-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - description
                - type
              properties:
                name:
                  type: string
                  description: The name of the custom field.
                  example: Custom field 1
                description:
                  type: string
                  description: Description of the custom field.
                  example: Custom field description
                type:
                  type: string
                  description: 'Type of the custom field. Valid values are **text**, **integer**, **double**, or **enumeration**.'
                  example: 397t0ccc8f74619096c738de15dc6512
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-field'
  '/projects/{project-id}/custom-fields/{custom-field-id}':
    get:
      tags:
        - Custom Field
      summary: Get custom field
      operationId: getCustomField
      description: Get a single custom field.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/custom-field-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-field'
    patch:
      tags:
        - Custom Field
      summary: Update custom field
      operationId: updateCustomField
      description: |
        Update a custom field.

        This resource is also where you can modify the custom field enumeration items.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/custom-field-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the custom field
                  example: Custom field 1
                description:
                  type: string
                  description: Description of the custom field
                  example: Custom field description
                archived:
                  type: boolean
                  description: Archived status.
                  example: false
                enumerationItemsToAdd:
                  type: array
                  description: Enumeration items to add to the custom field.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the enumeration item.
                        example: Item name
                      code:
                        type: string
                        description: 'The code of the item, value is unique for a custom field.'
                enumerationItemsToMove:
                  type: array
                  description: Enumeration items to reorder in the custom field.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 'A unique identifier for an enumeration item, represented as compacted UUID using 32 hexadecimal characters'
                        example: 224809076a694255b589d236517a55da
                      itemBeforeId:
                        type: string
                        description: 'Determines the position this item will sit within the enumeration, provide the id of the enumeration item you want this item to appear immediately after. Set the value to null to place this item at the beginning.'
                        example: null
                        nullable: true
                enumerationItemsToDisable:
                  type: array
                  description: Enumeration items to disable in the custom field.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 'A unique identifier for an enumeration item, represented as compacted UUID using 32 hexadecimal characters'
                        example: 224809076a694255b589d236517a55da
                enumerationItemsToRestore:
                  type: array
                  description: Enumeration items to restore in the custom field.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 'A unique identifier for an enumeration item, represented as compacted UUID using 32 hexadecimal characters'
                        example: 224809076a694255b589d236517a55da
                enumerationItemsToRename:
                  type: array
                  description: Enumeration items to rename in the custom field.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 'A unique identifier for an enumeration item, represented as compacted UUID using 32 hexadecimal characters'
                        example: 224809076a694255b589d236517a55da
                      name:
                        type: string
                        description: Name of the enumeration item.
                        example: Item name
                enumerationItemsToUpdateCode:
                  type: array
                  description: Enumeration items to update with new codes in the custom field.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 'A unique identifier for an enumeration item, represented as compacted UUID using 32 hexadecimal characters'
                        example: 224809076a694255b589d236517a55da
                      code:
                        type: string
                        description: 'The code of the item, value is unique for a custom field.'
                        example: Item name
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-field'
  '/projects/{project-id}/custom-fields/{custom-field-id}/enumeration-items':
    get:
      tags:
        - Custom Field
      summary: List enumeration items
      operationId: getCustomFieldEnumerationItems
      description: List all the enumeration items of a custom field.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/custom-field-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/custom-field-enumeration'
  '/projects/{project-id}/ifc/classifications':
    get:
      tags:
        - IFC
      summary: List classifications
      operationId: getIfcClassifications
      description: List all classification entities in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
        - $ref: '#/components/parameters/ifc-page'
        - $ref: '#/components/parameters/ifc-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-entity'
  '/projects/{project-id}/ifc/classifications/{object-id}':
    get:
      tags:
        - IFC
      summary: Get classification
      operationId: getIfcClassification
      description: Get a single classification entity.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/classification-id'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ifc-entity'
  '/projects/{project-id}/ifc/classifications/{object-id}/relations':
    get:
      tags:
        - IFC
      summary: List classification relations
      operationId: getIfcClassificationRelations
      description: List all the relations for a classification.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/classification-id'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-classification-relation'
  '/projects/{project-id}/ifc/classification_references':
    get:
      tags:
        - IFC
      summary: List classification references
      operationId: getIfcClassificationReferences
      description: List all classification reference entities in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
        - $ref: '#/components/parameters/ifc-page'
        - $ref: '#/components/parameters/ifc-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-entity'
  '/projects/{project-id}/ifc/classification_references/{object-id}':
    get:
      tags:
        - IFC
      summary: Get classification reference
      operationId: getIfcClassificationReference
      description: Get a single classification reference entity.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/classification-reference-id'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ifc-entity'
  '/projects/{project-id}/ifc/classification_references/relations':
    get:
      tags:
        - IFC
      summary: List classification references relations
      operationId: getIfcClassificationReferencesRelations
      description: List all the relations for all the classification references in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
        - $ref: '#/components/parameters/ifc-page'
        - $ref: '#/components/parameters/ifc-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-entity'
  '/projects/{project-id}/ifc/classification_references/{object-id}/relations':
    get:
      tags:
        - IFC
      summary: List classification reference relations
      operationId: getIfcClassificationReferenceRelations
      description: Get all the relations for a classification reference.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/classification-reference-id'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-entity'
  '/projects/{project-id}/ifc/groups':
    get:
      tags:
        - IFC
      summary: List groups
      operationId: getIfcGroups
      description: List all groups in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
        - $ref: '#/components/parameters/ifc-type'
        - $ref: '#/components/parameters/ifc-page'
        - $ref: '#/components/parameters/ifc-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-group'
    post:
      tags:
        - IFC
      summary: Query groups
      operationId: queryIfcGroups
      description: Query groups in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fields:
                  type: object
                  description: |
                    Choose which fields are included in the result, by default all are included. Use value of 1 to include the field and 0 to exclude.
                  additionalProperties:
                    type: integer
                    example: 1
                  example:
                    attributes.Name: 1
                    attributes.GlobalId: 1
                query:
                  type: object
                  description: The query object
                  example:
                    ifcType:
                      $ifcType: IfcEntity
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-group'
  '/projects/{project-id}/ifc/groups/ifctypes':
    get:
      tags:
        - IFC
      summary: Get groups type summary
      operationId: getIfcGroupsTypeSummary
      description: Get the number of instances per IFC type for groups.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
  '/projects/{project-id}/ifc/groups/{object-id}':
    get:
      tags:
        - IFC
      summary: Get group
      operationId: getIfcGroup
      description: Get a single group.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/group-id'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ifc-group'
  '/projects/{project-id}/ifc/groups/relations':
    get:
      tags:
        - IFC
      summary: List groups relations
      operationId: getIfcGroupsRelations
      description: List all the relations for all the groups in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
        - $ref: '#/components/parameters/ifc-page'
        - $ref: '#/components/parameters/ifc-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-group-relation'
  '/projects/{project-id}/ifc/groups/{object-id}/relations':
    get:
      tags:
        - IFC
      summary: List group relations
      operationId: getIfcGroupRelations
      description: List all the relations for a group.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/group-id'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-group-relation'
  '/projects/{project-id}/ifc/layers':
    get:
      tags:
        - IFC
      summary: List layers
      operationId: getIfcLayers
      description: List all layers in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
        - $ref: '#/components/parameters/ifc-type'
        - $ref: '#/components/parameters/ifc-page'
        - $ref: '#/components/parameters/ifc-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-layer'
    post:
      tags:
        - IFC
      summary: Query layers
      operationId: queryIfcLayers
      description: Query layers in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
        - $ref: '#/components/parameters/ifc-page'
        - $ref: '#/components/parameters/ifc-page-size'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fields:
                  type: object
                  description: |
                    Choose which fields are included in the result, by default all are included. Use value of 1 to include the field and 0 to exclude.
                  additionalProperties:
                    type: integer
                    example: 1
                  example:
                    attributes.Name: 1
                    attributes.GlobalId: 1
                query:
                  type: object
                  description: The query object
                  example:
                    ifcType:
                      $ifcType: IfcEntity
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-layer'
  '/projects/{project-id}/ifc/layers/ifctypes':
    get:
      tags:
        - IFC
      summary: Get layers type summary
      operationId: getIfcLayersTypeSummary
      description: Get the number of instances per IFC type for layers.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
  '/projects/{project-id}/ifc/layers/{object-id}':
    get:
      tags:
        - IFC
      summary: Get layer
      operationId: getIfcLayer
      description: Get a single layer.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/layer-id'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ifc-layer'
  '/projects/{project-id}/ifc/layers/relations':
    get:
      tags:
        - IFC
      summary: List layers relations
      operationId: getIfcLayersRelations
      description: List all the relations for all the layers in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
        - $ref: '#/components/parameters/ifc-page'
        - $ref: '#/components/parameters/ifc-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-layer-relation'
  '/projects/{project-id}/ifc/layers/{object-id}/relations':
    get:
      tags:
        - IFC
      summary: List layer relations
      operationId: getIfcLayerRelations
      description: List all the relations for a layer.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/layer-id'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-layer-relation'
  '/projects/{project-id}/ifc/ownerhistory':
    get:
      tags:
        - IFC
      summary: List owner histories
      operationId: getIfcOwnerHistories
      description: List all owner history entities in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
        - $ref: '#/components/parameters/ifc-page'
        - $ref: '#/components/parameters/ifc-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-entity'
  '/projects/{project-id}/ifc/ownerhistory/{object-id}':
    get:
      tags:
        - IFC
      summary: Get owner history
      operationId: getIfcOwnerHistory
      description: Get an owner history entity.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/owner-history-id'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ifc-entity'
  '/projects/{project-id}/ifc/products':
    get:
      tags:
        - IFC
      summary: List products
      operationId: getIfcProducts
      description: List all the products in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
        - $ref: '#/components/parameters/ifc-type'
        - $ref: '#/components/parameters/ifc-page'
        - $ref: '#/components/parameters/ifc-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-product'
    post:
      tags:
        - IFC
      summary: Query products
      operationId: queryIfcProducts
      description: Query products in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
        - $ref: '#/components/parameters/ifc-page'
        - $ref: '#/components/parameters/ifc-page-size'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fields:
                  type: object
                  description: |
                    Choose which fields are included in the result, by default all are included. Use value of 1 to include the field and 0 to exclude.
                  additionalProperties:
                    type: integer
                    example: 1
                  example:
                    attributes.Name: 1
                    attributes.GlobalId: 1
                query:
                  type: object
                  description: The query object
                  example:
                    ifcType:
                      $ifcType: IfcEntity
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-product'
  '/projects/{project-id}/ifc/products/ifctypes':
    get:
      tags:
        - IFC
      summary: Get products type summary
      operationId: getIfcProductsTypeSummary
      description: Get the number of instances per IFC type for products.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
  '/projects/{project-id}/ifc/products/{object-id}':
    get:
      tags:
        - IFC
      summary: Get product
      operationId: getIfcProduct
      description: Get a single product.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/product-id'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ifc-product'
  '/projects/{project-id}/ifc/products/relations':
    get:
      tags:
        - IFC
      summary: List products relations
      operationId: getIfcProductsRelations
      description: List all the relations for all the products in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
        - $ref: '#/components/parameters/ifc-page'
        - $ref: '#/components/parameters/ifc-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-product-relation'
  '/projects/{project-id}/ifc/products/{object-id}/relations':
    get:
      tags:
        - IFC
      summary: List product relations
      operationId: getIfcProductRelations
      description: List all the relations for a product.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/product-id'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-product-relation'
  '/projects/{project-id}/ifc/types':
    get:
      tags:
        - IFC
      summary: List types
      operationId: getIfcTypes
      description: List all the types in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
        - $ref: '#/components/parameters/ifc-type'
        - $ref: '#/components/parameters/ifc-page'
        - $ref: '#/components/parameters/ifc-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-type'
    post:
      tags:
        - IFC
      summary: Query types
      operationId: queryIfcTypes
      description: Query types in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fields:
                  type: object
                  description: |
                    Choose which fields are included in the result, by default all are included. Use value of 1 to include the field and 0 to exclude.
                  additionalProperties:
                    type: integer
                    example: 1
                  example:
                    attributes.Name: 1
                    attributes.GlobalId: 1
                query:
                  type: object
                  description: The query object
                  example:
                    ifcType:
                      $ifcType: IfcEntity
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-type'
  '/projects/{project-id}/ifc/types/ifctypes':
    get:
      tags:
        - IFC
      summary: Get types type summary
      operationId: getIfcTypesTypeSummary
      description: Get the number of instances per IFC type for types.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
  '/projects/{project-id}/ifc/types/{object-id}':
    get:
      tags:
        - IFC
      summary: Get type
      operationId: getIfcType
      description: Get a single type.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/type-id'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ifc-type'
  '/projects/{project-id}/ifc/types/relations':
    get:
      tags:
        - IFC
      summary: List types relations
      operationId: getIfcTypesRelations
      description: List all the relations for all the types in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/ifc-model'
        - $ref: '#/components/parameters/ifc-revision'
        - $ref: '#/components/parameters/ifc-page'
        - $ref: '#/components/parameters/ifc-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-type-relation'
  '/projects/{project-id}/ifc/types/{object-id}/relations':
    get:
      tags:
        - IFC
      summary: List type relations
      operationId: getIfcTypeRelations
      description: List all the relations for a type.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/type-id'
        - $ref: '#/components/parameters/ifc-revision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ifc-type-relation'
  '/projects/{project-id}/labels':
    get:
      tags:
        - Label
      summary: List labels
      operationId: getLabels
      description: List all the labels.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/label-include'
        - name: search
          in: query
          description: Filter by label name
          schema:
            type: string
        - name: id
          in: query
          description: |
            Filter by label ids providing a comma separated list
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/label'
    post:
      tags:
        - Label
      summary: Create label
      operationId: createLabel
      description: Add a new label.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/label-include'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - color
              properties:
                name:
                  type: string
                  description: The name of the label
                  example: Label 1
                color:
                  type: string
                  description: Valid RGB hexadecimal color of the label
                  example: '#6aa84f'
                labelGroupId:
                  type: string
                  description: Id of label group to assign to the label
                  example: 397t0ccc8f74619096c738de15dc6512
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label'
  '/projects/{project-id}/labels/{label-id}':
    get:
      tags:
        - Label
      summary: Get label
      operationId: getLabel
      description: Get a single label.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/label-id'
        - $ref: '#/components/parameters/label-include'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label'
    patch:
      tags:
        - Label
      summary: Update label
      operationId: updateLabel
      description: Update a label.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/label-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the label
                  example: Label 1
                color:
                  type: string
                  description: Valid RGB hexadecimal color of the label
                  example: '#6aa84f'
                labelGroupId:
                  type: string
                  description: |
                    Id of label group to assign the label to, provide null as value to remove label from current group.
                  nullable: true
                deleted:
                  type: boolean
                  description: Soft deletion state of the label
                  example: false
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label'
    delete:
      tags:
        - Label
      summary: Delete label
      operationId: deleteLabel
      description: Delete a label.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/label-id'
      responses:
        '204':
          $ref: '#/components/responses/204'
  '/projects/{project-id}/labels/label-groups':
    get:
      tags:
        - Label Group
      summary: List label groups
      operationId: getLabelGroups
      description: List all the label groups.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - name: search
          in: query
          description: Filter by label group name
          schema:
            type: string
        - name: id
          in: query
          description: Filter by label group ids providing a comma separated list
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/label-group'
    post:
      tags:
        - Label Group
      summary: Create label group
      operationId: createLabelGroup
      description: Add a new label group.
      parameters:
        - $ref: '#/components/parameters/project-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: The name of the label group
                  example: Group name
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label-group'
  '/projects/{project-id}/labels/label-groups/{label-group-id}':
    get:
      tags:
        - Label Group
      summary: Get label group
      operationId: getLabelGroup
      description: Get a single label group.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/label-group-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label-group'
    patch:
      tags:
        - Label Group
      summary: Update label group
      operationId: updateLabelGroup
      description: Update a label group.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/label-group-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the label group
                  example: Group name
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label-group'
    delete:
      tags:
        - Label Group
      summary: Delete label group
      operationId: deleteLabelGroup
      description: Delete a label group.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/label-group-id'
      responses:
        '204':
          $ref: '#/components/responses/204'
  '/projects/{project-id}/libraries':
    get:
      tags:
        - Library
      summary: List libraries
      operationId: getLibraries
      description: |
        List all libraries.

        Supported library types are **document**, **link**, **embedded_value** and **classification**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-page'
        - $ref: '#/components/parameters/library-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/library'
    post:
      tags:
        - Library
      summary: Create library
      operationId: createLibrary
      description: |
        Add a new library.

        Supported library types are **classification**.
      parameters:
        - $ref: '#/components/parameters/project-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
              properties:
                name:
                  type: string
                  description: The name of the library
                  example: Library 1
                type:
                  type: string
                  description: |
                    The library type, valid values are:
                     - classification.
                  example: classification
                classification:
                  type: object
                  description: Fields specific to classification libraries
                  properties:
                    source:
                      type: string
                      description: Source (or publisher) for this classification
                    edition:
                      type: string
                      description: The edition or version of the classification system from which the classification notation is derived
                    editionDate:
                      type: string
                      description: 'The date on which the edition of the classification used became valid, the format should be yyyy-mm-dd'
                      example: '2016-09-23'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/library'
  '/projects/{project-id}/libraries/{library-id}':
    get:
      tags:
        - Library
      summary: Get library
      operationId: getLibrary
      description: |
        Get a single library.

        Supported library types are **document**, **link**, **embedded_value** and **classification**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/library'
    patch:
      tags:
        - Library
      summary: Update library
      operationId: updateLibrary
      description: |
        Update a library.

        Supported library types are **classification**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: The name of the library
                  example: Library 1
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/library'
    delete:
      tags:
        - Library
      summary: Delete library
      operationId: deleteLibrary
      description: |
        Delete a library.

        Supported library types are **classification**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/library'
  '/projects/{project-id}/libraries/{library-id}/items':
    get:
      tags:
        - Library
      summary: List library items
      operationId: getLibraryItems
      description: |
        List all library items.

        If the library supports revisions then the latest revision for each item will be returned.

        Supported library types are **document**, **link**, **embedded_value** and **classification**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
        - $ref: '#/components/parameters/library-item-parent-id'
        - $ref: '#/components/parameters/library-item-associations'
        - $ref: '#/components/parameters/library-item-labels'
        - $ref: '#/components/parameters/library-item-search'
        - $ref: '#/components/parameters/library-item-created-at-from'
        - $ref: '#/components/parameters/library-item-created-at-to'
        - $ref: '#/components/parameters/library-item-published-at-from'
        - $ref: '#/components/parameters/library-item-published-at-to'
        - $ref: '#/components/parameters/library-item-include'
        - $ref: '#/components/parameters/library-item-sub-folders'
        - $ref: '#/components/parameters/library-page'
        - $ref: '#/components/parameters/library-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/library-item-document'
                  - type: array
                    items:
                      $ref: '#/components/schemas/library-item-link'
                  - type: array
                    items:
                      $ref: '#/components/schemas/library-item-embedded_value'
                  - type: array
                    items:
                      $ref: '#/components/schemas/library-item-classification'
    post:
      tags:
        - Library
      summary: Create library item
      operationId: createLibraryItem
      description: |
        Add a new library item.

        Supported library types are **document**, **link** and **classification**.

        For file upload, only **document** library type is supported.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
        - in: header
          name: Bimsync-Params
          schema:
            type: object
            required:
              - name
            properties:
              name:
                type: string
                description: Name of the document
                example: Document Name
              parentId:
                type: string
                description: |
                  A unique identifier for the parent of the library item represented as compacted UUID using 32 hexadecimal characters.

                  If no parent is present, the parent is the root of the library.
                example: 924809076a694255b589d236517a55da
              document:
                type: object
                description: Fields specific for document library items.
                properties:
                  type:
                    type: string
                    description: Value must be **file**.
                    example: file
                  filename:
                    type: string
                    description: Name of the document revision.
                    example: Document Revision Name
              failOnDocumentExists:
                type: boolean
                description: |
                  Supported in libraries of type document.

                  Default value is **true** which means when a file with the same name already exists in the folder the response will be 25 CONFLICT and upload will fail. When set to false a new revision will be created.
                example: true
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/library-item-document-create'
                - $ref: '#/components/schemas/library-item-link-create'
                - $ref: '#/components/schemas/library-item-classification-create'
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/library-item-document'
                  - type: array
                    items:
                      $ref: '#/components/schemas/library-item-link'
                  - type: array
                    items:
                      $ref: '#/components/schemas/library-item-classification'
  '/projects/{project-id}/libraries/{library-id}/items/{library-item-id}':
    get:
      tags:
        - Library
      summary: Get library item
      operationId: getLibraryItem
      description: |
        Get a single library item.

        If the library supports revisions then the latest revision will be returned.

        By default returns the library item details as JSON.

        To download the library item use **Content-Type: application/octet-stream** in request headers.

        Supported library types are **document**, **link**, **embedded_value** and **classification**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
        - $ref: '#/components/parameters/library-item-id'
        - $ref: '#/components/parameters/library-item-format'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/library-item-document'
                  - $ref: '#/components/schemas/library-item-link'
                  - $ref: '#/components/schemas/library-item-embedded_value'
                  - $ref: '#/components/schemas/library-item-classification'
            application/octet-stream:
              schema:
                type: string
                format: binary
    patch:
      tags:
        - Library
      summary: Update a library item
      operationId: updateLibraryItem
      description: |
        Update a library item.

        Supported library types are **document**, and **link**.

        In the case of document libraries updating **labels**, **name** or **parentId** at the same time is not supported.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
        - $ref: '#/components/parameters/library-item-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the library item.
                  example: Name
                parentId:
                  type: string
                  description: |
                    A unique identifier for the parent of the library item represented as compacted UUID using 32 hexadecimal characters.

                    If no parent is present the item will keep its parent and not be modified.
                  example: 924809076a694255b589d236517a55da
                labelsToAdd:
                  type: array
                  description: List of labels to add to the library item.
                  items:
                    type: object
                    description: Id or name of the label to add
                    properties:
                      id:
                        type: string
                        description: Id of an existing label
                      name:
                        type: string
                        description: Name of an existing label otherwise a new label is created with this name
                labelsToRemove:
                  type: array
                  description: List of labels to add to the library item.
                  items:
                    type: object
                    description: Id or name of the label to add
                    properties:
                      id:
                        type: string
                        description: Id of an existing label
                      name:
                        type: string
                        description: Name of an existing label otherwise a new label is created with this name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/library-item-document'
                  - $ref: '#/components/schemas/library-item-link'
    delete:
      tags:
        - Library
      summary: Delete library item
      operationId: deleteLibraryItem
      description: |
        Delete a library item

        Supported library types are **document**, **link** and **classification**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
        - $ref: '#/components/parameters/library-item-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/library-item-document'
                  - $ref: '#/components/schemas/library-item-link'
                  - $ref: '#/components/schemas/library-item-classification'
  '/projects/{project-id}/libraries/{library-id}/items/{library-item-id}/token':
    post:
      tags:
        - Library
      summary: Create library item download token
      operationId: getLibraryItemToken
      description: |
        Create a signed download URL token to allow access to the latest revision of a document without requiring additional authentication.

        The token will expire in one hour.

        Supported library types are **document**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
        - $ref: '#/components/parameters/library-item-id'
        - $ref: '#/components/parameters/library-item-format'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/library-item-document-token'
  '/projects/{project-id}/libraries/{library-id}/items/{library-item-id}/revisions':
    get:
      tags:
        - Library
      summary: List library item revisions
      operationId: getLibraryItemRevisions
      description: |
        List all revisions for a library item.

        Supported library types are **document**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
        - $ref: '#/components/parameters/library-item-id'
        - $ref: '#/components/parameters/library-page'
        - $ref: '#/components/parameters/library-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/library-item-document-file-revision'
    post:
      tags:
        - Library
      summary: Create library item revision
      operationId: createLibraryItemRevision
      description: |
        Create a new library item revision.

        Attach the file and set `Content-Type` header to `application/octet-stream`.

        Supported library types are **document**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
        - $ref: '#/components/parameters/library-item-id'
        - in: header
          name: Bimsync-Params
          schema:
            type: object
            required:
              - name
            properties:
              name:
                type: string
                description: Name of the document revision
                example: Document Revision Name
          required: true
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/library-item-document-file-revision'
  '/projects/{project-id}/libraries/{library-id}/items/{library-item-id}/revisions/{library-item-revision-id}':
    get:
      tags:
        - Library
      summary: Get library item revision
      operationId: getLibraryItemRevision
      description: |
        Get a library item revision.

        By default returns the library item details as JSON.

        To download the library item use **Content-Type: application/octet-stream** in request headers.

        Supported library types are **document**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
        - $ref: '#/components/parameters/library-item-id'
        - $ref: '#/components/parameters/library-item-revision-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/library-item-document-file-revision'
            application/octet-stream:
              schema:
                type: string
                format: binary
  '/projects/{project-id}/libraries/{library-id}/items/{library-item-id}/revisions/{library-item-revision-id}/token':
    post:
      tags:
        - Library
      summary: Create library item revision download token
      operationId: getLibraryItemRevisionToken
      description: |
        Create a signed download URL token to allow access to the document revision without requiring additional authentication.

        The token will expire in one hour.

        Supported library types are **document**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
        - $ref: '#/components/parameters/library-item-id'
        - $ref: '#/components/parameters/library-item-revision-id'
        - $ref: '#/components/parameters/library-item-format'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/library-item-document-token'
  '/projects/{project-id}/libraries/{library-id}/items/{library-item-id}/associations':
    get:
      tags:
        - Library
      summary: List library item associations
      operationId: getLibraryItemAssociations
      description: |
        List all associations between a library item and IFC products.

        IFC products are represented by their IfcGloballyUniqueId.

        Supported library types are **document**, **link**, **embedded_value** and **classification**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
        - $ref: '#/components/parameters/library-item-id'
        - $ref: '#/components/parameters/library-page'
        - $ref: '#/components/parameters/library-page-size'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/library-item-association'
    post:
      tags:
        - Library
      summary: Add library item associations
      operationId: addLibraryItemAssociations
      description: |
        Associate a library item to IFC products.

        IFC products are represented by their IfcGloballyUniqueId.

        Supported library types are **document**, **link** and **classification**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
        - $ref: '#/components/parameters/library-item-id'
        - in: query
          name: revision
          description: |
            Specify which revisions are used to resolve global id from objectId by providing a comma separated list. If not present, the latest revisions in all models in the project are used.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                description: Supported fields are globalId or objectId
                properties:
                  globalId:
                    type: string
                    description: A 22 character IfcGloballyUniqueId.
                    example: 2_TmT90tD0x9tJSTsyTb1J
                  objectId:
                    type: string
                    description: The object id of a product.
                    example: 192042324556
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/library-item-association'
    delete:
      tags:
        - Library
      summary: Remove library item associations
      operationId: removeLibraryItemAssociations
      description: |
        Remove associations between a library item and IFC products.

        Supported library types are **document**, **link** and **classification**.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/library-id'
        - $ref: '#/components/parameters/library-item-id'
        - in: query
          name: revision
          description: |
            Specify which revisions are used to resolve global id from objectId by providing a comma separated list. If not present, the latest revisions in all models in the project are used.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                description: Supported fields are globalId or objectId
                properties:
                  globalId:
                    type: string
                    description: A 22 character IfcGloballyUniqueId.
                    example: 2_TmT90tD0x9tJSTsyTb1J
                  objectId:
                    type: string
                    description: The object id of a product.
                    example: 192042324556
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/library-item-association'
  '/projects/{project-id}/members':
    get:
      tags:
        - Member
      summary: List members
      operationId: getMembers
      description: List all the project members.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - name: userType
          in: query
          description: |
            Filter by user type, valid values are `user`, `team` or `organization`
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/member'
    post:
      tags:
        - Member
      summary: Create member
      operationId: createMember
      description: |
        Add a new project member.

        The current user must be an administrator of the project.
      parameters:
        - $ref: '#/components/parameters/project-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - user
                - role
              properties:
                user:
                  type: string
                  description: The user id for the new member
                  example: 973763399e2147dceg4a4a0661e03a26
                role:
                  type: string
                  description: |
                    Role of the member, valid values are:
                      - administrator
                      - member
                  example: member
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/member'
  '/projects/{project-id}/members/{user-id}':
    get:
      tags:
        - Member
      summary: Get member
      operationId: getMember
      description: Get a single member.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/user-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/member'
    put:
      tags:
        - Member
      summary: Update member
      operationId: updateMember
      description: |
        Update project membership of a member.

        The current user must be a project administrator.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/user-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  description: |
                    Role of the member, valid values are:
                      - administrator
                      - member
                  example: member
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/member'
    delete:
      tags:
        - Member
      summary: Remove member
      operationId: deleteMember
      description: |
        Remove a project member.

        The current user must be a project administrator.

        The project owner cannot be removed from the project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/user-id'
      responses:
        '204':
          $ref: '#/components/responses/204'
  '/projects/{project-id}/models':
    get:
      tags:
        - Model
      summary: List models
      operationId: getModels
      description: List all the models in a project.
      parameters:
        - $ref: '#/components/parameters/project-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/model'
    post:
      tags:
        - Model
      summary: Create model
      operationId: createModel
      description: Add a new model.
      parameters:
        - $ref: '#/components/parameters/project-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: 'The name of the model, limited to 512 characters'
                  example: Model 1
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model'
  '/projects/{project-id}/models/{model-id}':
    get:
      tags:
        - Model
      summary: Get model
      operationId: getModel
      description: |
        Download the latest revision of a model as an IFC file setting the `Accept` header to be `application/ifc`
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/model-id'
        - $ref: '#/components/parameters/model-normalize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model'
            application/ifc:
              schema:
                type: string
                format: ifc
    put:
      tags:
        - Model
      summary: Update model
      operationId: updateModel
      description: |
        Update a model.

        The current user must be an administrator of the project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/model-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the model, limited to 512 characters'
                  example: Model 1
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model'
    delete:
      tags:
        - Model
      summary: Delete model
      operationId: deleteModel
      description: |
        Delete a model.

        The current user must be an administrator of the project.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/model-id'
      responses:
        '204':
          $ref: '#/components/responses/204'
  '/projects/{project-id}/revisions':
    get:
      tags:
        - Model Revision
      summary: List revisions
      operationId: getRevisions
      description: List all the model revisions.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/model-revision-model'
        - $ref: '#/components/parameters/model-revision-product'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/model-revision'
    post:
      tags:
        - Model Revision
      summary: Create revision
      operationId: createRevision
      description: |
        Upload a new model revision.

        Include the IFC file in the request and set the `Content-Type` header to be `application/ifc`.

        **Note:** The code examples for this method may have incorrect headers.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - in: header
          name: Bimsync-Params
          schema:
            type: object
            required:
              - comment
              - filename
              - model
            properties:
              callbackUri:
                type: string
                description: |
                  Pass a URI to be notified when the revision is processed.

                  Catenda will issue an HTTP GET request with the query parameter token set to revision status id and result set to either **success** or **error**.
                example: 'https://example.com'
              comment:
                type: string
                description: 'Text describing the revision, limited to 64K characters'
                example: Revision description
              filename:
                type: string
                description: |
                  The original name of the IFC file.

                  The name is used in format detection and should have the extension .ifc, .ifcZIP or .ifcXML.
                example: ARCH.ifc
              model:
                type: string
                description: Id of the model the revision should be added to.
                example: 37024671cbd642a9b7d84808b4d509f5
          required: true
      requestBody:
        content:
          application/ifc:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model-revision-status'
  '/projects/{project-id}/revisions/{model-revision-id}':
    get:
      tags:
        - Model Revision
      summary: Get revision
      operationId: getRevision
      description: |
        Get a revision of an IFC model.

        By default returns the revision details as JSON.

        To download the revision use **Content-Type: application/ifc** in request headers.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/model-revision-id'
        - $ref: '#/components/parameters/model-normalize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model-revision'
            application/ifc:
              schema:
                type: string
                format: ifc
  '/projects/{project-id}/revision_status/{model-revision-status-id}':
    get:
      tags:
        - Model Revision
      summary: Get revision status
      operationId: getRevisionStatus
      description: Get the processing status for a revision.
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/model-revision-status-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/model-revision-status'
  /projects:
    get:
      tags:
        - Project
      summary: List projects
      operationId: getProjects
      description: List all projects the current user is a member of.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/project'
    post:
      tags:
        - Project
      summary: Create project
      operationId: createProject
      description: |
        Add a new project.

        The project will be owned by the current user.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - description
                - name
              properties:
                description:
                  type: string
                  description: 'A short text describing the project, limited to 1024 characters'
                  example: Project description
                name:
                  type: string
                  description: 'The name of the project, limited to 512 characters'
                  example: Project name
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
  '/projects/{project-id}':
    get:
      tags:
        - Project
      summary: Get project
      operationId: getProject
      description: Get a single project.
      parameters:
        - $ref: '#/components/parameters/project-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
    put:
      tags:
        - Project
      summary: Update project
      operationId: updateProject
      description: |
        Update a project.

        The current user must be an administrator of the project.
      parameters:
        - $ref: '#/components/parameters/project-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: 'A short text describing the project, limited to 1024 characters'
                  example: Project description
                name:
                  type: string
                  description: 'The name of the project, limited to 512 characters'
                  example: Project name
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
    delete:
      tags:
        - Project
      summary: Delete project
      operationId: deleteProject
      description: |
        Delete a project.

        The current user must be the owner of the project.

        If the project is owned by an organization, the user must be an owner of the organization.
      parameters:
        - $ref: '#/components/parameters/project-id'
      responses:
        '204':
          $ref: '#/components/responses/204'
  /orgs:
    get:
      tags:
        - Organization
      summary: List organizations
      operationId: getOrganizations
      description: List all organizations the current user is a member of.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/user'
  '/orgs/{organization-id}':
    get:
      tags:
        - Organization
      summary: Get organization
      operationId: getOrganization
      description: |
        Get a single organization.

        The current user must be a member of the organization.
      parameters:
        - $ref: '#/components/parameters/organization-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
    put:
      tags:
        - Organization
      summary: Update organization
      operationId: updateOrganization
      description: |
        Update an organization.

        The current user must be an owner of the organization.
      parameters:
        - $ref: '#/components/parameters/organization-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the organization, limited to 128 characters'
                  example: Organization name
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
  '/orgs/{organization-id}/members':
    get:
      tags:
        - Organization
      summary: List members
      operationId: getOrganizationMembers
      description: |
        List all organization members.

        The current user must be a member of the organization.
      parameters:
        - $ref: '#/components/parameters/organization-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
[...]
